@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background: #193543;
}

main {
  padding: 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  margin: 1.5rem 0rem;
  width: 10rem;
  height: auto;
  text-align: center;
}
h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: white;
}
.datos {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
  max-width: 600px;
  border: 0.05rem solid white;
  border-radius: 0.5rem;
}
.datos p {
  font-size: 1.5rem;
  margin: 1rem 0rem;
  color: white;
}

.datos .tituloCBU {
  display: inline-block;
}

.datos .cbu {
  width: 100%;
  height: auto;
}

.datos .cbu input {
  border: none;
  font-size: 1.5rem;
  outline: none;
  color: white;
}
.datos .cbu button {
  margin: 1rem auto;
  display: block;
  padding: 0.7rem;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #193543;
}
.datos .cbu button:hover {
  border: 0.07rem solid white;
  color: white;
  background: #193543;
  transition: 0.3s all ease;
}
footer {
  height: 7rem;
  background-color: #aec0c9;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  background: #aec0c9;
  color: #193543;
  font-size: 1.4rem;
  font-weight: 600;
}
footer p a {
  background: #aec0c9;
  color: #193543;
  font-size: 1.4rem;
  font-weight: 600;
}
footer p i {
  background: #aec0c9;
  color: #9c2a2a;
  font-size: 1.4rem;
  font-weight: 600;
}
