---
import i18next, { changeLanguage, t } from "i18next";
import { Header } from "../components/Header/index";
import { Hero } from "../components/Hero/index";
import { Steps } from "../components/Steps/index";
import { Customers } from "../components/Customers/index";
import { Footer } from "../components/Footer/index";
import { Portfolio } from "../components/Portfolio/index";
import { Tools } from "../components/Tools/index";
import { ContactUs } from "../components/ContactUs/index";
import { FAQ } from "../components/FAQ/index";

changeLanguage("es");
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t("site.description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{t("site.title")}</title>
  </head>
  <body>
    <Header />
    <Hero />
    <Steps />
    <Customers client:only="react" title={t("customers.title")} />
    <Portfolio />
    <Tools />
    <FAQ
      client:only="react"
      title={t("faqs.title")}
      q1={t("faqs.q1.question")}
      a1={t("faqs.q1.answer")}
      q2={t("faqs.q2.question")}
      a2={t("faqs.q2.answer")}
      q3={t("faqs.q3.question")}
      a3={t("faqs.q3.answer")}
      q4={t("faqs.q4.question")}
      a4={t("faqs.q4.answer")}
      asideTitle={t("faqs.aside.title")}
      asideSubtitle={t("faqs.aside.subTitle")}
      asideCta={t("faqs.aside.cta")}
    />
    <ContactUs />
    <Footer />
    <style is:global>
      body {
        background-color: black;
      }

      .white-logo {
        filter: brightness(0) invert(1);
      }

      .slick-track {
        display: flex !important;
        align-items: center !important;
      }

      /* Customize the scrollbar width */
      .scrollbar::-webkit-scrollbar {
        height: 8px;
        cursor: pointer;
        transition: 200ms ease-in-out;
      }

      /* Customize the scrollbar track */
      .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      /* Customize the scrollbar thumb */
      .scrollbar::-webkit-scrollbar-thumb {
        background: #888;
        width: 1px;
        height: 1px;
        border-radius: 4px;
      }

      /* Optionally, you can style the scrollbar on hover */
      .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #666;
      }
    </style>
  </body>
</html>
