---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  class={`px-5 py-[24px] text-white flex flex-col items-center gap-8 mb-16 ${className}`}
>
  <slot />
</section>
