---
import chat from "@/assets/icons/chat.svg";
import { Collapse } from "./Collapse";
import { t } from "i18next";
---


  <div class="w-full flex flex-col items-center">
    <div class="w-full flex flex-col items-center gap-6 mb-12 relative">
      <p class="text-5xl font-bold text-pretty text-center relative text-white">
        {t("faqs.title")}
      </p>
    </div>
    <div class="w-full max-w-4xl flex flex-col">
      <Collapse
        client:only="react"
        question={t("faqs.q1.question")}
        answer={t("faqs.q1.answer")}
      />
      <Collapse
        client:only="react"
        question={t("faqs.q2.question")}
        answer={t("faqs.q2.answer")}
      />
      <Collapse
        client:only="react"
        question={t("faqs.q3.question")}
        answer={t("faqs.q3.answer")}
      />
      <Collapse
        client:only="react"
        question={t("faqs.q4.question")}
        answer={t("faqs.q4.answer")}
      />
    </div>
  </div>


